<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>LD国际钻石集团简介-奢华国际钻石集团-专业的钻石批发商,全球最大的GIA,IGI,HRD裸钻数据库！</title>
<meta name="keywords" content="LD国际钻石集团" />
<meta name="description" content="LD国际钻石集团依托南非及国际钻石矿产资源，集钻石毛坯开采、 收购、切割、批发于一身，打造了完善、高效、专业的钻石产业链。本公司拥有众多优秀的钻石珠宝专业人才和先进的加工设备，以及完善的经营体系和科学的管理模式。
" />
<!-- <link href="css/default.css" rel="stylesheet" type="text/css"
 /> -->
<link href="css/kh-index.css" rel="stylesheet" type="text/css" />
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
</head>

<body bgcolor="#363636">

<header>
    <div class="box head-box">
        <img class="index-img" src="images/logo1.jpg" alt="奢华国际钻石集团"/>
        <span id="heid" style="background:url(images/anniu.png);"></span>
        <div class="head">
            {include file="nav.html"}
       </div>
   </div>
</header>

<center class="ld-center">
  <div style="background:url(images/LD_011.jpg);">
        <div id="ld-pto">
          <img src="images/home_pto1.jpg"  style="width:98%; text-align:center;" alt=""/>
        </div>
    </div>
  
    <div id="text-box">
    
      <div class="text">

    <p><span style="background:url(images/LD_02.jpg);"></span><b>LD国际钻石集团简介</b></p>
      <div>
            &nbsp;&nbsp;&nbsp;&nbsp;LD国际钻石集团依托南非及国际钻石矿产资源，集钻石毛坯开采、      收购、切割、批发于一身，打造了完善、高效、专业的钻石产业链。本公司拥有众多优秀的钻石珠宝专业人才和先进的加工设备，以及完善的经营体系和科学的管理模式。<br>
              &nbsp;&nbsp;&nbsp;&nbsp;我们分别在比利时、印度、纽约、香港、上海、广州、深圳等地设有钻石、首饰等专业大型的加工基地和批发中心。<br>
              &nbsp;&nbsp;&nbsp;&nbsp;欢迎您加入LD国际钻石机构，我们将为您提供专业、专心、诚信、高效的钻石供应服务，使你可以分享到全球优秀钻石商家的钻石资源，为您的珠宝事业开创美好的明天。<br><strong>「公司优势」</strong><br>
              &nbsp;&nbsp;&nbsp;&nbsp;LD国际钻石集团直接向PETRA  DIAMONDS、ALROSA等世界知名的钻石矿业公司定向采购钻石毛坯，经公司钻石加工厂精细切割抛光后，直接供应与珠宝商家和广大消费者，极大限度保证了钻石的品质和价格优势。<br>
              <strong>为合作伙伴提供最完善的供应体系</strong><br>
        □庞大的现货供应，0.003CT-20CT各种规格裸钻专供，满足客户各种需求。<br>
        □可提供GIA、IGI等国际和国内权威机构检测证书，以确保每颗钻石的品质。<br>
        □完善的互联网交易系统，24小时在线为客户提供订购服务。<br>
        □单颗起订，免费、安全、快捷的配送。精准订购，立降成本。
      </div>
            <img src="images//LD_jiagong.jpg" style="margin-top:20px;" alt="" />
         
       
            <img src="images/images//LD_gc.jpg" style="margin-top:40px;" alt="" />

      </div>
     
      <div class="text" style="clear:both;">

      <p><span style="background:url(images/LD_02.jpg);"></span><b>
<a href="#top">特拉维夫</a> | <a href="#top">纽约</a> | <a href="#top">孟买</a> | <a href="#top">香港</a> | <a href="#top">上海</a></b></p>
          <img src="images/images/images//LD_city.jpg" style="width:100%;margin-top:20px;" alt="">
        
    </div>
        
        <div class="text">
    <p><span style="background:url(images/LD_02.jpg);"></span><b>认识钻石 Diamond Knowledge</b></p>
          <div>
        <strong>「钻石起源」</strong><br>
  &nbsp;&nbsp;&nbsp;&nbsp;钻石是世界上最珍贵的宝石，其居世界五大珍贵高档宝石之s首，素有“宝石之王”、“无价之宝”的美誉。它是大自然的杰作。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;天然钻石原产于超过200公里深的地下，它们的形成年代通常为24亿到32亿年以前，但是也有短至6千万年的。钻石是地壳中碳元素在经历了剧烈的热量和压力作用下形成的，然后被埋在地壳几乎最深的地方。这种地壳深处的钻石有时会随着地壳深处熔岩的上升而被带到地壳表面。携带钻石的熔岩凝固时会形成上大下小的喇叭状岩柱，岩柱中往往含有钻石。<br>
　　&nbsp;&nbsp;&nbsp;&nbsp;根据比利时安特卫普钻石高级委员会所述，要将250吨的岩石、沙和砾石处理之后才可能得到一克拉的钻石胚，一克拉钻石胚经切磨，只能保留40%~50%的重量。一克拉等于0.2克，250吨等于2亿5千万克。另外，开采出来的钻石大部分品质不佳，只能用作工业使用的磨料或钻头。能用作宝石的钻石往往不到钻石原矿的七分之一。<br>
  <strong>「钻石产地」</strong><br>
  &nbsp;&nbsp;&nbsp;&nbsp;世界各地均有钻石产出，已有三十多个国家拥有钻石资源，年产量一亿克拉左右。产量前五位的国家是澳大利亚、扎伊尔、博茨瓦纳、俄罗斯、南非。这五个国家的钻石产量占全世界钻石产量的90%左右。其它产钻石的国家有刚果(金)、 巴西、圭亚那、委内瑞拉、安哥拉、中非、加纳、几内亚、象牙海岸、利比利亚、纳米比亚、塞拉利昂、坦桑尼亚、津巴布韦、印度尼西亚、印度、中国、加拿大等。<br>
    &nbsp;&nbsp;&nbsp;&nbsp;对于钻石的毛坯和宝石级钻石所占比例来说，最好的钻石来自于纳米比亚冲积矿床中开采出来的钻石。对切磨好的钻石戒面，很难分辩出产自哪个国家和矿区。任何矿区产出的钻石都有好、中、差。拿矿区中最好的钻石与纳米比亚产出最差的钻石比，纳米比亚冲积矿床的钻石也不一定就好。
      </div>
         <img src="images/LD_kc.jpg"  style="margin-top:20px;" alt="" />
         
       
            <img src="images/LD_diamond.jpg" style="margin-top:20px;" alt="" />
   
       </div>
  </div>
  
</center>

<footer>
    {include file="foot.html"}   
</footer>
<script type="text/javascript" src="Js/hk.js"></script>
</body>
</html>
