<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>奢华</title>
<link href="kh-index.css" rel="stylesheet" type="text/css" />
<link href="me1.css" rel="stylesheet" type="text/css" />
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>


</head>

<body>
<header>
    <div class="box head-box">
        <img class="index-img" src="logo.jpg" alt="奢华国际钻石集团"/>
        <span id="heid"></span>
        <div class="head">
            <span id="display_none">
            <a href="{write_url open='cart'}">购物车</a>	
            <a href="../diamind/?open=home&action=search&page=1&token={$proxy.id}&nid={$proxy.number}" target="_blank">前往前台</a>
            <a class="red" href="{write_url open='Quit'}">退出系统</a>
            </span>
            <ul class="company_nav">
                <li><a href="#">首页</a></li>
                <li><a href="#">LD集团</a></li>
                <li><a href="#">全球资讯</a></li>
                <li><a href="#">国际报价</a></li>
                <li><a href="#">每日特价</a></li>
                <li><a href="#">现货查询</a></li>
                <li><a href="#">我的专区</a></li>
            </ul>
       </div>
   </div>
</header>

<div class="me">
	<div class="gray">
    	<span id="left_hied"></span>
		<div class="let">
        <div>您好！欢迎进入在线库存中心</div>
			<ul> 
                <li>
                    <strong><a href="javascript:;">我的设置</a><b>+</b></strong>
                    <span>
                        <a href="{write_url open='me' action='info'}" {CLASS_COLOR info=$get.action CLASS='this'}>我的资讯</a>
                        <a href="{write_url open='me' action='password'}" {CLASS_COLOR password=$get.action CLASS='this'}>修改密码</a>
                        <a href="{write_url open='me' action='edit'}" {CLASS_COLOR edit=$get.action CLASS='this'}>修改资料</a>
                    <!-- 	<a href="{write_url open='me' action='editbl'}" {CLASS_COLOR editbl=$get.action CLASS='this'}>编辑倍率</a> -->
                    
                    </span>
                </li>
                <li>
                        <strong><a href="javascript:;">我的订单</a><b>+</b></strong>
                        <span>
                            {foreach item=pso key=ss from=$status}
                            <a href="{write_url open='me' action='orders' status=$ss}" {if $ss == $get.status}class="this"{/if}>{$pso}</a>
                            {/foreach}
                        </span>
                </li>
                <li><strong><a href="{write_url open='me' action='log'}" {CLASS_COLOR log=$get.action CLASS='this'}>现金日志</a></strong></li>
                <li><strong><a href="{write_url open='Quit'}">安全退出</a></strong></li>
        </ul>
		</div>
		
        
        
		<div class="Ys">
			<div class="foe">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="log">
					<tr><th colspan="2" class="te">我的资讯</th></tr>
					<tr><th width="45%">编号</th><td>{$show.number}</th></tr>
					<tr><th>账号</th><td>{$show.account}</td></tr>
					<tr><th>*真实姓名</th><td>{$show.name}</td></tr>
					<tr><th>*昵称</th><td>{$show.nickname}</td></tr>
					<tr><th>余款</th><td>{$show.money} 元</td></tr>
					<!--<tr>
						<th>手机短信</th>
						<td>{if $show.is_SMS == 'Y'}开启<span style="color:#09F;margin:0 0 0 2em">{$proxy.sms_price} / 条</span>{else}关闭{/if}</td>
					</tr>-->
				   
					<tr><th>Logo</th><td><img src="{$show.company_logo}" /><br/>*建议高宽：140*320px<br/>{$show.company_logo}</td></tr>
					<tr><th>*公司名称</th><td>{$show.company_name}</td></tr>
					<tr><th>*公司地址</th><td>{$show.company_address}</td></tr>
					<tr><th>*倍率</th><td>{$show.mag}</td></tr>
					<tr>
						<th>*通讯</th>
						<td>
							<ul class="NAB" id="NAB">
								{foreach item=nB from=$Nab}
								<li>{$nB.type_name} - {$nB.content} {if $nB.is_default == 'Y'}<span style="color:#F00"><br>接收 手机短信 号码</span>{/if}</li>
								{/foreach}
							</ul>
						</td>
					</tr>
					<tr><th>品牌名称</th><td>{$show.brand_name}</td></tr>
					<tr><th>职务名称</th><td>{$show.position}</td></tr>
					<tr><th>经营区域</th><td>{$show.business_zone}</td></tr>
					<tr><th>经营范围</th><td>{$show.business_scope}</td></tr>
					<tr><th>上级业务</th><td>{$show.salesman_write}</td></tr>
					<tr><th>上级客服</th><td>{$show.service_write}</td></tr>
					<tr><th>网站</th><td>{$show.home_page}</td></tr>
					<tr><th>开户日期</th><td>{date('Y-m-d',$show.start_date)}</td></tr>
					<tr><th>位置</th><td>{$show.province}{if $show.city} - {$show.city}{/if}</td></tr>
					<tr><th>性别</th><td>{if $show.sex == 'privacy'}保密{elseif $show.sex == 'man'}男{else}女{/if}</td></tr>
					<tr><th>上次登录时间</th><td>{date('Y-m-d',$show.login_time)}</td></tr>
					
					<!--<tr><td>备注</td><td>{$show.remark}</td></tr>-->
				</table>
			</div>
		</div>
		<i class="clear"></i>
	</div>
</div>

<footer>
        <strong>24小时服务热线:400-889-0005 , 13682251579(韩先生) ,  13560318112(谢先生) ,  15820216519(赵小姐) <br>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=200778839&site=qq&menu=yes">
        <img border="0" src="http://wpa.qq.com/pa?p=2:200778839:41" alt="QQ咨询" title="点击这里给我发消息"></a> 
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=228998702&site=qq&menu=yes">
        <img border="0" src="http://wpa.qq.com/pa?p=2:228998702:41" alt="QQ咨询" title="点击这里给我发消息"></a> 
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=248239835&site=qq&menu=yes">
        <img border="0" src="http://wpa.qq.com/pa?p=2:248239835:41" alt="QQ咨询" title="点击这里给我发消息"></a> 
        <a href="skype:shehua52?call" onclick="return skypeCheck();">
        <img src="http://mystatus.skype.com/bigclassic/shehua52" style="border: none;" width="91" height="22" alt="My status" />
        </a> 
        <wbr/>E-mail:shehua52@163.com
        </strong>
        <p>©版权所有1982至2015年由 LD国际钻石集团 保留所有权利 <a href="www.miitbeian.gov.cn"> <wbr/>粤ICP备10030046号-5</a></p>
</footer>


<script>
	$(window).resize(function() {
		var width = $(this).width();
	 if(width>751)
		{
			$(".head").css("display","block");

			
			}
		else{
			$(".head").css("display","none");
			}
	if(width<=975){
		$(".let").css({width:'0'});
		}
	else{
		$(".let").css({width:'220'});
		}
	});
	$("#heid").click(function(){
 		 $(".head").slideToggle(500);
		 
	});
	
	$("#left_hied").click(function(){
		var x=$("#left_hied").css("left");
		if(x==="210px"){
			$("#left_hied").animate({left:'0px'});
			$(".let").animate({width:'0px'});
			$("#left_hied").css({'background-image':'url(show.gif)'});
			
			}
		else{
			$("#left_hied").animate({left:'210px'});
			$(".let").animate({width:'220px'});
			$("#left_hied").css({'background-image':'url(hied.gif)'});
			}
	}); 
		
</script>
</body>
</html>