<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>奢华</title>
<link href="css/default.css" rel="stylesheet" type="text/css" />
<!-- <link href="css/kh-index.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
<div class="Pe">
	<div class="head">
		<img src="images/logo.jpg" />
		{include file="nav.html"}
	</div>
	<div class="gray me">
		<div class="let">
			<div>您好！欢迎进入在线库存中心</div>
			<ul>
				<li>
					<strong><a href="#">我的设置</a><b>+</b></strong>
					<span><a href="#">我的资讯</a><a href="#">修改密码</a><a href="#">修改资料</a>
                    <a href="#">编辑前台</a>
                    <a href="#">前往前台</a>
					</span>
				</li>
				<li>
					<strong><a href="#">我的订单</a><b>+</b></strong>
					<span><a href="#">未处理订单</a><a href="#">无效订单</a><a href="#">无效订单</a><a href="#">所有订单</a></span>
				</li>
				<li><strong><a href="#">现金日志</a></strong></li>
				<li><strong><a href="#">安全退出</a></strong></li>
			</ul>
		</div>
		
		<div class="Ys">
			<div class="tou">
				<strong class="ts">查询条件：</strong>
				<div class="c">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><span>订单编号</span><label><input type="text" /></label></td>
							<td><span>快递单号</span><label><input type="text" /></label></td>
						</tr>
						<tr>
							<td colspan="2">
								<span>订单日期</span>
								<label><input type="text" /> - <input type="text" /></label>
								<input type="submit" class="st m10" value="查询" />
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="foe">
				<table width="100%" border="0" cellspacing="1" cellpadding="0">
					<tr>
						<th>订单单号</th>
						<th>会员帐号</th>
						<th>收货人</th>
						<th>所属公司</th>
						<th>配送方式</th>
						<th>总金额($)</th>
						<th>下单日期</th>
						<th>订单状态</th>
						<th>发货状态</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>1022400267</td><td>shcz</td><td>李超龙</td><td>广州市</td><td>邮寄</td><td>6566.76</td><td>2011/2/24</td><td>订购完成</td><td>未处理</td>
						<td><a href="#">查看</a></td>
					</tr>
					<tr>
						<td>1022400267</td><td>shcz</td><td>李超龙</td><td>广州市</td><td>邮寄</td><td>6566.76</td><td>2011/2/24</td><td>订购完成</td><td>未处理</td>
						<td><a href="#">查看</a></td>
					</tr>
				</table>
				<div class="Page">
					<ul>
						<li><a href="#">上一页</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">9</a></li>
						<li><a href="#">10</a></li>
						<li><a href="#">下一页</a></li>
					</ul>
					<i class="clear"></i>
				</div>
			</div>
		</div>
		<i class="clear"></i>
	</div>
	{include file="foot.html"}
</div>
</body>
</html>
