<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>奢华</title>
<!-- <link href="css/default.css" rel="stylesheet" type="text/css" /> -->
<link href="css/me1.css" rel="stylesheet" type="text/css" />
<link href="css/kh-index.css" rel="stylesheet" type="text/css" />

<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
<header>
    <div class="box head-box">
        <img class="index-img" src="images/logo1.jpg" alt="奢华国际钻石集团"/>
        <span id="heid" style="background:url(images/anniu.png);"></span>
        <div class="head">
            {include file="nav.html"}
       </div>
   </div>
</header>
	<div class="me_home">
	<div class="me_gray">
    	<span id="left_hied"></span>
		<div class="me_let">
        <div>您好！欢迎进入在线库存中心</div>
			{include file="me_nav.html"}
		</div>	
		<div class="me_Ys">
			<div class="me_foe">
				<form action="{write_url url=$thisurl go='append'}" method="post">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="me_log">
						<tr><th colspan="2" class="te">修改密码</th></tr>
						<tr><th width="45%">编号</th><td>{$show.number}</td></tr>
						<tr><th>账号</th><td>{$show.account}</td></tr>
						<tr><th>真实姓名</th><td>{$show.name}</td></tr>
						<tr><th>昵称</th><td>{$show.nickname}</td></tr>
						<tr><th>当前密码</th><td><input name="password" type="password" style="width:150px" /></td></tr>
						<tr><th>新的密码</th><td><input name="oneP" type="password" style="width:150px" /></td></tr>
						<tr><th>再次输入</th><td><input name="twoP" type="password" style="width:150px" /></td></tr>
						<tr><td colspan="2" class="INP" align="center"><input value="修改密码" type="submit" /></td></tr>
					</table>
				</form>
			</div>
		</div>
		<i class="clear"></i>
	</div>

</div>
<footer>
    {include file="foot.html"}   
</footer>
<script type="text/javascript" src="Js/hk.js"></script>
</body>
</html>
