
<link href="css/default1.css" rel="stylesheet" type="text/css" />
{if $proxy.id}
<span id="display_none">
    <span style="color:#fff;">{if $proxy.name}{$proxy.name}{else}{$proxy.account}{/if} , 欢迎您! </span>
	<!--<a href="../diamind/?open=home&action=search&page=1&token={$proxy.id}&nid={$proxy.number}" target="_blank">前往前台</a> -->
	<a class="red" href="{write_url open='Quit'}">退出系统</a>
</span>
{else}
{/if}
<ul class="company_nav">
	<li><a href="{write_url open='home'}" {CLASS_COLOR home=$get.open CLASS='this'}>首页</a></li>
	<li><a href="{write_url open='LD'}" {CLASS_COLOR LD=$get.open CLASS='this'}>LD集团</a></li>
	<!-- <li><a href="{write_url open='news'}" {CLASS_COLOR news=$get.open CLASS='this'}>全球资讯</a></li> -->
	<li><a id="ch" href="{write_url open='Quote'}" {CLASS_COLOR Quote=$get.open CLASS='this'}>国际报价</a></li>
	<li><a href="{write_url open='SP'}" {CLASS_COLOR SP=$get.open CLASS='this'}>每日特价</a></li>
	<li><a href="{write_url open='Query'}" {CLASS_COLOR Query=$get.open CLASS='this'}>现货查询</a></li>
	<li><a href="{write_url open='me'}" {CLASS_COLOR me=$get.open CLASS='this'}>我的专区</a></li>
	<li><a href="../diamind/?open=home&action=search&page=1&token={$proxy.id}&nid={$proxy.number}" target="_blank">前往前台</a></li>
</ul>