<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$show.title}-奢华国际钻石集团</title>

<meta name="description" content="{$show.bewrite}" />
<link href="css/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="Pe">
	<div class="head">
		<img src="images/logo.jpg" />
		{include file="nav.html"}
	</div>
	<div class="gray News">
		<strong class="t">{$show.title}</strong>
		<p class="s">{$show.bewrite}</p>
		<div class="content">{Reverts str=$show.content}</div>
	</div>
	{include file="foot.html"}
</div>


</body>
</html>
