/*by caoxiaolian qq13479032 E-MAIL:alian194@126.com */
.product_list h3{height:33px;line-height:33px;padding:0 0 0 13px; font-size:13px; color:#c80001; font-weight:bold}
.product_list ul li{height:32px;padding-left:11px; background:#fff1f1; line-height:32px;margin-bottom:1px} 
.content{width:960px;margin:0 auto; text-align:left}
.category_r{width:737px;float:right;}
.category_list{border:1px solid #bbb;}
.cate_order{ position:absolute;right:26px;top:0;}
.cate_order a{padding:2px 8px 2px 20px;}
.cate_order a.up{ background:url(../images/category_up.png) no-repeat right 4px}
.cate_order a.down{ background:url(../images/category_down.png) no-repeat right 4px}
.cate_top{height:30px;border-bottom:1px solid #bbb; line-height:30px; position:relative; background:url(../images/category_topbg.png) repeat-x left top;width:735px; overflow:hidden}
.cate_top h2{height:30px;width:95px;position:absolute;left:8px;top:0;text-indent:-9999px;overflow:hidden; background:url(../images/sh_categorytit.png) no-repeat left 3px}
.sh_history{border:1px solid #bbb;}
.sh_choice{border:1px solid #bbb;}
.sh_choice dl{height:30px;border-bottom:1px solid #F2F2F2}
.sh_choice dl dt{width:63px; height:30px; line-height:30px; background:#FDEFEF;color:#C80001; text-align:center; float:left;}
.sh_choice dl dd{ text-align:left; height:30px; line-height:30px;float:left;}
.sh_choice dl dd.s_l{padding:0 14px;}
.sh_choice dl dd.s_r{width:60px; text-align:center}
.sh_choice dl dd.s_c{padding-left:14px; background:url(../images/sh_choice1.png) no-repeat left 10px}
.sh_choice dd a{ padding:1px 4px}
.sh_choice .sel{ background:#C80001;color:#fff!important}
.sh_choice1{border:1px solid #bbb;}
.sh_choice1 dl{height:40px;border-bottom:1px solid #F2F2F2}
.sh_choice1 dl dt{width:63px; height:40px; line-height:40px; background:#FDEFEF;color:#C80001; text-align:center; float:left;}
.sh_choice1 dl dd{ text-align:left; height:40px; line-height:40px;float:left;}
.sh_choice1 dl dd.s_l{padding:0 14px;}
.sh_choice1 dl dd.s_r{width:60px; text-align:center}
.sh_choice1 dl dd.s_c{padding-left:14px; background:url(../images/sh_choice1.png) no-repeat left 14px}
.sh_choice1 dd a{ padding:1px 4px}
.sh_choice1 .sel{ background:#C80001;color:#fff!important}

.sh_history h3{height:26px; line-height:26px;*line-height:28px; overflow:hidden; font-weight:bold;color:#C80001;padding:0 0 0 6px;border-bottom:1px solid #bbb; position:relative; background:url(../images/sh_historytop.png) repeat-x left top}
.sh_history h3 span{ position:absolute;top:0;right:18px;cursor:pointer;color:#464646; font-weight:normal}

.list_history li{height:41px;padding:5px 0 13px 13px;clear:both; line-height:1.2em;*margin-bottom:-5px}
.list_history .img_l{ display:block;height:41px;width:41px;float:left;}
.list_history .txt_r{float:left;padding:6px 0 0 6px; display:block;width:140px; overflow:hidden}
.list_history .txt_r a{color:#674B30!important}
.listLink{padding-left:12px}
.listLink li{float:left;width:86px;height:28px;padding-bottom:12px;padding-right:12px}
.prod_list{width:704px; padding:6px 0 0 30px;overflow:hidden}
.prod_list ul{width:748px;}
.prod_list ul li{width:145px;float:left;height:210px;overflow:hidden;padding-right:37px; text-align:center}
.prod_list ul li .prodImg{width:145px;height:145px;}
.prod_list ul li h4{width:132px;padding-top:6px; line-height:1.2em; overflow:hidden}
.prod_list ul li h4 a,.prod_list ul li p{color:#674B30!important;}
.prod_list ul li p{line-height:1.2em;padding-top:4px}
.prod_list ul li em{color:#f00; line-height:1.2em}

.sh_school{border:1px solid #bbb;height:234px; background:url(../images/schoolbg.png) repeat-x left bottom}
.sh_school h3{height:33px; line-height:33px; background:#C80001 url(../images/searchbtn1.png) no-repeat 11px 8px;padding-left:50px;color:#fff;font-size:15px; font-weight:bold}
.sh_school h4{ clear:both;font-size:14px;padding:6px 0 18px 12px;color:#C80001;font-weight:bold}
.school_list1{padding:8px 0 0 0;width:208px; overflow:hidden}
.school_list1 li.ff2{width:47px;float:left; height:30px; text-align:center}
.school_list1 li.ff4{float:left;width:63px; height:30px;text-align:center;}


.searchTop .tab{height:36px;border-bottom:1px solid #C80001; background:#EFEFEF; position:relative;}
.searchTop .tab h3{ position:absolute;left:30px;top:11px;padding:0 0 0 26px;height:18px; line-height:18px;font-size:16px; font-weight:bold; background:url(../images/searchbtn2.png) no-repeat left 1px}
.searchTop .tab ul{height:27px; line-height:27px; position:absolute; left:163px;top:10px;}
.searchTop .tab li{float:left;width:91px;height:26px; background:url(../images/searchbtn4.png) no-repeat left top; text-align:center; display:inline;margin-right:6px;}
.searchTop .tab li.sel{height:27px; background:url(../images/searchbtn3.png) no-repeat left top}

.searchTop2 .tab{height:32px;border-bottom:1px solid #C80001;position:relative;}
.searchTop2 .tab ul{height:32px; line-height:32px; position:absolute; left:0;top:1px;}
.searchTop2 .tab li{float:left;width:101px;height:31px; background:url(../images/searchbtn12.png) no-repeat left top; text-align:center; display:inline;margin-right:6px;}
.searchTop2 .tab li.sel{height:32px; background:url(../images/searchbtn11.png) no-repeat left top}

.search_choice{padding:10px 0 0 60px; }
.search_choice input{vertical-align:middle; *vertical-align:top}
.search_choice li{height:25px;}
.search_choice label{padding-right:6px;}
.search_choice2{padding:20px 0 0 60px; }
.search_choice2 input{vertical-align:middle; *vertical-align:top}
.search_choice2 li{height:33px;}
.search_choice2 label{padding-right:6px;}
.searchInput{width:78px;height:16px;border:1px solid #C5C3C3;}
.searchInput2{width:180px;height:16px;border:1px solid #C5C3C3;}
.searchbtn{width:82px;height:30px; border:none; background:url(../images/searchbtn5.png) no-repeat left top;color:#C80001; line-height:30px; cursor:pointer}
.list_top{height:30px;background:#EFEFEF;margin-top:8px;padding:0 0 0 34px;}
.list_top h3{float:left;font-size:14px;font-weight:bold;padding-top:7px;height:20px; line-height:20px; font-family:"ו"}
.list_top ul{width:260px;float:right;padding-top:4px;}
.list_top ul li{float:left;padding:0 8px 0 20px;*line-height:25px;}
.list_top ul li a{color:#A04F00!important}
.list_top1{height:31px;background:url(../images/listtop1.png) repeat-x left top;border-bottom:1px solid #bbb;padding:0 0 0 34px;}
.list_top1 h3{float:left;font-size:14px;font-weight:bold;padding-top:7px;height:20px; line-height:20px; font-family:"ו"}
.list_top1 ul{width:260px;float:right;padding-top:4px;}
.list_top1 ul li{float:left;padding:0 8px 0 20px;*line-height:25px;}
.list_top1 ul li a{color:#A04F00!important}
.search_up{ background:url(../images/searchbtn8.png) no-repeat right 6px}
.search_down{ background:url(../images/searchbtn9.png) no-repeat right 6px}
.listtable{ text-align:center;position:relative;border:1px solid #bbb;width:735px; zoom:1}
.listtable .tl{ position:absolute;left:-1px;top:-1px;width:6px;height:6px; display:block; background:url(../images/searchbtn6.png) no-repeat left top}
.listtable .tr{ position:absolute;right:-1px;top:-1px;width:6px;height:6px; display:block; background:url(../images/searchbtn7.png) no-repeat left top}

.listtable table th{height:28px; background:url(../images/searchbtn10.png) repeat-x left top;border-bottom:1px solid #bbb;color:#692424}
.listtable table td.even{ background:#FFF1F1;height:25px}
.listtable table td.odd{ background:#fff;height:39px}
.search_keywords{height:28px; line-height:28px;border-top:1px dashed #D6D6D6;border-bottom:1px dashed #D6D6D6;padding-left:17px;margin:5px 20px 10px -40px}
.search_keywords a{margin-right:14px}
.category_list table{ text-align:center}
.category_list table th{height:28px; background:#E8E8E8}
.category_list table td.even{ background:#F5F5F5;height:25px}
.category_list table td.odd{ background:#fff;height:39px}

