<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$smarty.const.Site_Name}</title>
<link href="css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Js/exec.js"></script>
</head>

<body>
{include file="header.html"}
<div class="center">
	<div class="left">{include file="menu.html"}</div>
	<div class="right">
		<div class="Nav">
			<ul>
				<li><a href="{write_url url=$thisurl action='json' DEL='id,go'}" {CLASS_COLOR city=$get.open json=$get.action CLASS='this'}>生成数据</a></li>
				<li><a href="{write_url url=$thisurl action='add' DEL='id,go'}" {CLASS_COLOR city=$get.open add=$get.action CLASS='this'}>添加城市</a></li>
				<li><a href="{write_url url=$thisurl action='show' DEL='id,go'}" {CLASS_COLOR city=$get.open show=$get.action CLASS='this'}>城市管理</a></li>
			</ul>
			<span class="clear"></span>
		</div>
		<div class="append" style="height:450px">
			{if $get.go == 'make'}
				<div style="text-align:center;padding:5em">处理完成,<a href="{write_url url=$thisurl action='json' DEL='id,go'}">点击返回</a></div>
			{else}
				<div style="text-align:center;padding:5em"><a href="{write_url url=$thisurl go='make' DEL='id'}">生成JSON</a></div>
			{/if}
		</div>
	</div>
	<b class="clear"></b>
</div>
</body>
</html>