<div class="append">
	<form action="{write_url url=$thisurl go='append'}" method="post">
	<table width="100%" border="0" cellspacing="1" cellpadding="0">
		<tr><th colspan="4">审核订单</th></tr>
		<tr>
			<td width="15%" align="right">订单编号</td>
			<td>{brite_spot query =$get.info str=$orders.orders_id}</td>
			<td width="15%" align="right">订单状态</td>
			<td>{$status[$orders.status]}</td>
		</tr>
		<tr>
			<td align="right">购买人</td>
			<td>{brite_spot query =$get.info str=$orders.account}<input name="proxy_id" type="hidden" value="{$orders.proxy_id}" /></td>
			<td align="right" class="Need">组退点</td>
			<td>{$orders.rebate} %</td>
		</tr>
		<tr>
			<td align="right">业务</td>
			<td>{brite_spot query =$get.info str=$orders.salesman_name}</td>
			<td align="right">客服</td>
			<td>{brite_spot query =$get.info str=$orders.service_name}</td>
		</tr>
		<tr>
			<td align="right">总价</td>
			<td>{$orders.price} 元</td>
			<td align="right">下单时间</td>
			<td>{$orders.time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
		</tr>
		<tr>
			<td align="right">外部备注</td>
			<td colspan="3"><textarea name="remark" style="width:95%;height:120px">{br_to_null str=$orders.remark}</textarea></td>
		</tr>
		<tr><td colspan="4" align="center" style="color:#0C6">注意:如果 审核产品 时,全部都选择取消,那么这张订单将被取消</td></tr>
		<tr>
			<td colspan="4">
				{foreach item=pso from=$product}
				<table width="100%" border="0" cellspacing="1" cellpadding="0" id="tab_show" style="margin:0.5em 0 0 0">
					<tr>
						<th>产品编号</th>
						<th>形状</th>
						<th>重量</th>
						<th>颜色</th>
						<th>净度</th>
						<th>进货价</th>
						<th>数量</th>
						<th>实际售价</th>
						<th>审核产品情况</th>
						<th width="5%">详情</th>
					</tr>
					<tr align="center">
						<td>{$pso.info.ProID}<input name="ProID[{$pso.info.id}]" type="hidden" value="{$pso.info.ProID}" /></td>
						<td>{$shape[$pso.info.shape]}</td>
						<td>{$pso.info.weight}</td>
						<td>{$pso.info.color}</td>
						<td>{$pso.info.clarity}</td>
						<td>{$pso.info.infml}</td>
						<td>{$pso.amount}</td>
						<td>
							<input name="Yuan_price[{$pso.info.id}]" type="hidden" value="{$pso.price}" />
							<input type="text" name="price[{$pso.info.id}]" value="{$pso.price}" style="width:80px;text-align:center" onfocus="sprintf('%.2f' , this)" />
						</td>
						<td>
							<label for="Y_{$pso.info.id}"><input type="radio" name="status[{$pso.info.id}]" id="Y_{$pso.info.id}" value="Y" /> 通过审核</label>
							<label for="C_{$pso.info.id}"><input type="radio" name="status[{$pso.info.id}]" id="C_{$pso.info.id}" value="C" /> 取消</label>
						</td>
						<td class="action"><a href="javascript:;" onclick="show_detail(this , '{$pso.id}' , 10)" class="act_3_10" title="产品详情"></a></td>
					</tr>
					<tr>
						<td align="right">内部备注</td>
						<td align="left" colspan="9"><textarea name="pro_remark[{$pso.info.id}]" style="width:95%;height:60px">{br_to_null str=$pso.remark}</textarea></td>
					</tr>
				</table>
					{/foreach}
			</td>
		</tr>
		<tr><th colspan="4" align="center"><input type="submit" value=" 确 认 通过审核 " /></th></tr>
	</table>
	</form>
</div>
