{literal}
<style type="text/css" media="screen">#print{display:none}</style>
<style type="text/css" media="print">
div{display:none}
#print{display:block}
#print div{display:block}
#print h1{font-size:36px;font-family:"黑体"}
#print th,#print td{height:30px}
#print .Ord{border-bottom:1px #000 solid;border-right:1px #000 solid;margin:1em 0 0 0}
#print .Ord th , #print .Ord td{border-top:1px #000 solid;border-left:1px #000 solid;height:22px;padding:0 0.5em}
#print .Products{border:1px #000 solid;border-right:2px #000 solid}
#print .Products th , #print .Products td{border-bottom:1px #000 solid;border-left:1px #000 solid}
#print .Products th{border-top:none}
#print .Elses , #print .Elses div{margin:1em 0 0 0}
#print .Elses span b{font-weight:300}
</style>
{/literal}
<div class="show">
	<form action="{write_url url=$thisurl action='del'}" method="post">
		<table width="100%" border="0" cellspacing="1" cellpadding="0" id="tab_show">
			<tr>
				<th>订单号</th>
				<th>订单状态</th>
				<th>购买人</th>
				<th>业务</th>
				<th>客服</th>
				<th>总价</th>
				<th>下单时间</th>
				<th>操作</th>
				<th width="5%">短信</th>
				<th width="5%">打印</th>
				<th width="5%">详情</th>
				<th width="5%">删除</th>
			</tr>
			{foreach item=pso from=$list_text}
			<tr align="center">
				<td>{brite_spot query =$get.info str=$pso.orders_id}</td>
				<td>{$status[$pso.status]}</td>
				<td>{brite_spot query =$get.info str=$pso.account}</td>
				<td>{brite_spot query =$get.info str=$pso.salesman_name}</td>
				<td>{brite_spot query =$get.info str=$pso.service_name}</td>
				<td>{$pso.price}</td>
				<td>{$pso.time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
				<td>
				{if $pso.status == 'null'}
					{if $BTP[$get.open].audit}<a href="{write_url url=$thisurl action='audit' orders_id=$pso.orders_id}">审核订单</a>{/if}
				{elseif ($pso.status == 'audit' or $pso.status == 'earnest')}
					<a href="{write_url url=$thisurl action='edit_orders' orders_id=$pso.orders_id}">更改订单</a>
					<a href="{write_url url=$thisurl action='count_deposit' orders_id=$pso.orders_id}">计算定金</a>
					{if $pso.status == 'earnest'}<a href="{write_url url=$thisurl action='recoup_deposit' orders_id=$pso.orders_id}">扣除定金</a>{/if}
				{elseif $pso.status == 'deploy'}
					<a href="{write_url url=$thisurl action='deploy' orders_id=$pso.orders_id}">更改到货情况</a>
					<a href="{write_url url=$thisurl action='dispatch' orders_id=$pso.orders_id}">更改物流状态</a>
				{elseif $pso.status == 'balance'}
					<a href="{write_url url=$thisurl action='deploy' orders_id=$pso.orders_id}">更改到货情况</a>
					<a href="{write_url url=$thisurl action='balance' orders_id=$pso.orders_id}">扣除余款</a>
					<a href="{write_url url=$thisurl action='dispatch' orders_id=$pso.orders_id}">更改物流状态</a>
				{elseif $pso.status == 'dispatch'}
					<a href="{write_url url=$thisurl action='dispatch' orders_id=$pso.orders_id}">更改物流状态</a>
					<a href="javascript:;" onclick="receiving(this , '{$pso.orders_id}' , 12)">收到货物</a>
				{elseif $pso.status == 'receiving'}
					<b style="color:#093">已完成的订单</b>
				{elseif $pso.status == 'returned'}
					<span style="color:#999">取消的订单</span>
				{/if}
				{if $BTP[$get.open].cancel and $pso.status != 'returned' and $pso.status != 'receiving'}<a href="javascript:;" onclick="cancel(this , '{$pso.orders_id}' , 12)">取消订单</a>{/if}
				</td>
				<td class="action">{if $BTP[$get.open].sms}<a href="javascript:;" onclick="sms(this , '{$pso.proxy_id}' , 12 , false , '{$pso.orders_id}')" class="act_1_13" title="短信"></a>{/if}</td>
				<td class="action">{if $BTP[$get.open].prints}<a href="javascript:;" onclick="Prints('{$pso.orders_id}')" class="act_1_8" title="打印"></a>{/if}</td>
				<td class="action">{if $BTP[$get.open].detail}<a href="{write_url url=$thisurl action='detail' orders_id=$pso.orders_id}" class="act_3_10" title="详情"></a>{/if}</td>
				<td class="action">{if $BTP[$get.open].del}<a href="{write_url url=$thisurl action='del' orders_id=$pso.orders_id}" class="act_1_5" title="删除"></a>{/if}</td>
			</tr>
			{foreachelse}
			<tr><td colspan="12" class="else">{if $get.go == 'query'}你查询的订单不存在{else}当前没有订单{/if}</td></tr>
			{/foreach}
		</table>
		<div class="select"> </div>
	</form>
	{if $list_page.Record > 0}
	<div class="page">
		每页
		<select onchange="page_Local(this,0 , '{write_url url=$thisurl DEL='PNS'}')">
			<option value="PNS=10" {selected val=$get.PNS str='10'}>10</option>
			<option value="PNS=25" {selected val=$get.PNS str='25'}>25</option>
			<option value="PNS=50" {selected val=$get.PNS str='50'}>50</option>
			<option value="PNS=100" {selected val=$get.PNS str='100'}>100</option>
		</select>
		条数据
		当前第{$list_page.NowPage}页 / 共{$list_page.count}页
		{if $list_page.NowPage > 1}<a href="{write_url url=$thisurl page='1'}">首页</a>{else}首页{/if}
		{if $list_page.NowPage > 1}<a href="{write_url url=$thisurl page=$list_page.up}">上一页</a>{else}上一页{/if}
		{if $list_page.NowPage < $list_page.count}<a href="{write_url url=$thisurl page=$list_page.down}">下一页</a>{else}下一页{/if}
		{if $list_page.NowPage < $list_page.count}<a href="{write_url url=$thisurl page=$list_page.count}">尾页</a>{else}尾页{/if}
		至 <input type="text" value="{$list_page.NowPage}" onkeydown="go_page(event , this , '{$thisurl}')" /> 页
		排序:
		<select onchange="page_Local(this,0 , '{write_url url=$thisurl DEL='ORDER'}')">
			<option value="ORDER=time_UP" {selected val=$get.ORDER str='time_UP'}>按 下单时间 (↑) 排序</option>
			<option value="ORDER=time_Dn" {selected val=$get.ORDER str='time_Dn'}>按 下单时间 (↓) 排序</option>
			<option value="ORDER=prxy_UP" {selected val=$get.ORDER str='prxy_UP'}>按 购买人 (↑) 排序</option>
			<option value="ORDER=prxy_Dn" {selected val=$get.ORDER str='prxy_Dn'}>按 购买人 (↓) 排序</option>
		</select>
	</div>
	{/if}
	</div>