<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$smarty.const.Site_Name}</title>
<link href="css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="Js/menu.js"></script>
<script type="text/javascript" src="Js/exec.js"></script>
</head>

<body>
{include file="header.html"}
<div class="center">
	<div class="left">{include file="menu.html"}</div>
	<div class="right">
		<div class="Nav">
			<ul>
				{if $BTP[$get.open].add}<li><a href="{write_url url=$thisurl action='add' DEL='id'}" {CLASS_COLOR stock=$get.open add=$get.action CLASS='this'}>添加库存地址</a></li>{/if}
				{if $BTP[$get.open].show}<li><a href="{write_url url=$thisurl action='show' DEL='id'}" {CLASS_COLOR stock=$get.open show=$get.action CLASS='this'}>库存地址管理</a></li>{/if}
			</ul>
			<span class="clear"></span>
		</div>
		<div class="show">
			<form action="{write_url url=$thisurl action='del'}" method="post">
				<table width="100%" border="0" cellspacing="1" cellpadding="0" id="tab_show">
					<tr>
						<th width="5%">选择</th>
						<th>库存地址</th>
						<th>负责人</th>
						<th>电话</th>
						<th>手机</th>
						<th>传真</th>
						<th>排序</th>
						<th>时间</th>
						<th width="5%">编辑</th>
						<th width="5%">删除</th>
					</tr>
					{foreach item=pso from=$list_text}
					<tr align="center">
						<td>{if $BTP[$get.open].del}<input type="checkbox" name="id[]" value="{$pso.id}" />{/if}</td>
						<td align="left">{$pso.address}</td>
						<td>{$pso.principal}</td>
						<td>{$pso.tel}</td>
						<td>{$pso.mobile}</td>
						<td>{$pso.fax}</td>
						<td>{$pso.taxis}</td>
						<td>{$pso.time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
						<td class="action">{if $BTP[$get.open].edit}<a href="{write_url url=$thisurl action='edit' id=$pso.id}" class="act_5_8" title="编辑"></a>{/if}</td>
						<td class="action">{if $BTP[$get.open].del}<a href="{write_url url=$thisurl action='del' id=$pso.id}" class="act_1_5" title="删除"></a>{/if}</td>
					</tr>
					{foreachelse}
					<tr><td colspan="10" class="else">当前没有库存地址 , <a href="{write_url url=$thisurl action='add' DEL='id'}">点击添加库存地址</a></td></tr>
					{/foreach}
				</table>
				<div class="select">
				{if $BTP[$get.open].del}
					选择：
					<input value="全部选择" type="button" onclick="select_all('id[]');" />
					<input value="全部取消" type="button" onclick="select_out('id[]');" />
					<input value="反向选择" type="button" onclick="select_agt('id[]');" />
					<input value="删除选择" type="button" onclick="select_del('id[]' , this);" />
				{/if}
				</div>
			</form>
			{if $list_page.Record > 0}
			<div class="page">
				每页
				<select onchange="page_Local(this,0 , '{write_url url=$thisurl DEL='PNS'}')">
					<option value="PNS=10" {selected val=$get.PNS str='10'}>10</option>
					<option value="PNS=25" {selected val=$get.PNS str='25'}>25</option>
					<option value="PNS=50" {selected val=$get.PNS str='50'}>50</option>
					<option value="PNS=100" {selected val=$get.PNS str='100'}>100</option>
				</select>
				条数据
				当前第{$list_page.NowPage}页 / 共{$list_page.count}页
				{if $list_page.NowPage > 1}<a href="{write_url url=$thisurl page='1'}">首页</a>{else}首页{/if}
				{if $list_page.NowPage > 1}<a href="{write_url url=$thisurl page=$list_page.up}">上一页</a>{else}上一页{/if}
				{if $list_page.NowPage < $list_page.count}<a href="{write_url url=$thisurl page=$list_page.down}">下一页</a>{else}下一页{/if}
				{if $list_page.NowPage < $list_page.count}<a href="{write_url url=$thisurl page=$list_page.count}">尾页</a>{else}尾页{/if}
				至 <input type="text" value="{$list_page.NowPage}" onkeydown="go_page(event , this , '{$thisurl}')" /> 页
				排序:
				<select onchange="page_Local(this,0 , '{write_url url=$thisurl DEL='ORDER'}')">
					<option value="ORDER=time_UP" {selected val=$get.ORDER str='time_UP'}>按 时间 (↑) 排序</option>
					<option value="ORDER=time_Dn" {selected val=$get.ORDER str='time_Dn'}>按 时间 (↓) 排序</option>
					<option value="ORDER=tais_UP" {selected val=$get.ORDER str='tais_UP'}>按 排序 (↑) 排序</option>
					<option value="ORDER=tais_Dn" {selected val=$get.ORDER str='tais_Dn'}>按 排序 (↓) 排序</option>
				</select>
			</div>
			{/if}
		</div>		
	</div>
	<b class="clear"></b>
</div>
</body>
</html>