@charset "utf-8";

.Pe{width:980px; margin:0 auto;}

.gray{background-color:#dbdbdb; padding:0 50px;font-size: 0.8em;}

.search .top{height:31px; clear:both}
.search .top li{float:left; width:125px}
.search .top li a{display:block; background-image:url(../images/s_t_h.jpg); width:112px; height:31px; line-height:31px; text-align:center; font-weight:900; color:#393939}
.search .top li a:hover , .search .top li a.this{background-image:url(../images/s_t_v.jpg); color:#FFF}

.ler{height:30px;line-height:30px;background:url(../images/ler_bg.jpg) repeat-x;border:1px solid #BBB;border-bottom:0 none}
.ler strong{display:block; float:left; padding:0 0 0 15px;width:70px}
.ler dl , .ler dd , .ler dt{float:left; display:block;height:30px;line-height:30px}
.ler dl dt{background-image:url(../images/ler_x.jpg);width:1px;font-size:0;overflow:hidden}
.ler dd{padding:0 10px 0 0}
.ler dd a , .ler dd b{text-align:center;color:#464646; margin:0 0 0 10px; font-weight:300}
.ler dd a.this , .ler dd a:hover{color:#F00}

.bon{height:40px; line-height:40px; background:url(../images/s_t_p.jpg) repeat-x;border:1px solid #BBB; border-bottom:0 none}
.bon strong{display:block; float:left; padding:0 15px;width:30px}
.cow{border-bottom:1px solid #BBB}
.sis strong{line-height:16px; margin:3px 0 0 0}
.bon ul{display:block; float:left; background-image:url(../images/s_px_h.jpg); width:521px; height:32px; margin:4px 0 0 0}
.bon li{float:left; width:52px;}
.bon ul a{display:block; width:51px; height:32px; overflow:hidden; background-image:url(../images/s_px_h.jpg)}
.bon ul a.this{background-image:url(../images/s_px_v.jpg)}
.bon li.t1 a{background-position:0 top}
.bon li.t2 a{background-position:-52px top}
.bon li.t3 a{background-position:-104px top}
.bon li.t4 a{background-position:-156px top}
.bon li.t5 a{background-position:-208px top}
.bon li.t6 a{background-position:-260px top}
.bon li.t7 a{background-position:-312px top}
.bon li.t8 a{background-position:-364px top}
.bon li.t9 a{background-position:-416px top}
.bon li.t10 a{background-position:-468px top}

.bon dl , .bon dd , .bon dt , .bon a{float:left;height:28px; line-height:28px}
.bon dl{margin:6px 0 0 0}
.bon dt{background:url(../images/s_t_bg.jpg) left top; width:1px; font-size:0; overflow:hidden}
.bon dd{background:url(../images/s_p_bg.jpg) center top; padding:0 1px}
.bon dd.t{background-position:left top}
.bon dd.w{background-position:right top}
.bon dd a{display:block;text-align:center;color:#464646; font-size:12px}
.bon dl a:hover , .bon dl a.this{color:#FFF}
.bon dl.v1 a , .bon dl.v1 i{width:32px}
.bon dl.v1 i{display:block}
.bon dl.v1 a:hover , .bon dl.v1 a.this{background-image:url(../images/s_p_1.jpg)}

.bon dl.v2 a{width:43px}
.bon dl.v2 a:hover , .bon dl.v2 a.this{background-image:url(../images/s_p_2.jpg)}

.bon dl.v1 , .bon dl.v3{width:390px}
.bon dl.v3 a{width:61px}
.bon dl.v3 a:hover , .bon dl.v3 a.this{background:url(../images/s_p_3.jpg) no-repeat}

.cow span{padding:5px 0 0 10px}
.cow div , .cow span{float:left;height:40px;line-height:40px;display:block;_padding:10px 0 0 0;_height:30px;_line-height:30px; margin:0 10px 0 0}

.cow span input{vertical-align:middle;width:50px;text-align:center; border:1px solid #BBB; height:18px; line-height:18px}
.cow div input{vertical-align:middle; margin:10px 0 0 0;_margin:0; height:22px; line-height:16px; padding:0 8px}

.ler div{height:25px;line-height:20px;padding:5px 0 0 10px}
.ler span{height:25px;line-height:20px}
.ler div input{margin:0;*padding:0 5px}

.Js_cars{text-align:center; padding:10px}
.Js_cars input{background-image:url(../images/ding.jpg); width:123px; height:40px; border:0 none; cursor:pointer; vertical-align:middle}
/*
.Js_cars strong{color:#393939; font-size:14px; margin:10px 0 0 20px;float:left}
.Js_cars i{margin:0 20px 0 0}
*/
.quote dl{height:40px; line-height:40px}
.quote dt{float:left}
.quote dt a{font-size:14px; color:#002be4; font-weight:900}
.quote dd{float:right; text-align:left}
.quote dd a{color:#000; display:block; float:left; padding:0 20px; margin:0 0 0 1px}
.quote dd a:hover , .quote dd a.this{color:#FFF; background-color:#000}

.quote table{text-align:center;width:100%; background-color:#666; margin:0 0 20px 0;color:#393939}
.quote th.ed{background-color:#BCBCBC; color:#002be4}
.quote th{background-color:#CFCFCF; height:30px}
.quote td{background-color:#FFF}

.let{float:left; width:220px}
.let div{width:206px; height:39px; line-height:39px; color:#FFF; font-size:14px; text-align:center; background-image:url(../images/me_nav.jpg)}
.let ul{width:204px; border:1px solid #818181; border-top:0 none; background-color:#FFF; padding:10px 0 0 0}
.let li{padding:0 0 10px 0; color:#393939}
.let a{color:#393939}
.let li strong{display:block; height:35px; line-height:35px;padding:0 15px;background-image:url(../images/me_nav_bg.jpg)}
.let li strong a{float:left; display:block}
.let li strong b{float:right; display:block; font-size:16px}
.let li span{display:block; padding:0 20px}
.let li span a{display:block; height:25px; line-height:25px; text-indent:1em}
.let li span a.this{background-color:#EEE}



.foe table{background-color:#818181; margin:15px 0 0 0}
.foe table th{background-color:#f0f0f0; height:30px; padding:0 5px; color:#393939}
.foe table td{background-color:#FFF; height:25px; line-height:25px; text-align:center}

.dil{background-color:#CCC; color:#666}
.dil tr{height:25px; line-height:25px}
.dil th{text-align:right; font-weight:300}
.dil th , .dil td{padding:0 5px}
.foe .cers .dil td{text-align:left}
.foe .cers table{margin:0 auto}
.foe .cers .dil th{text-align:right}

.search .Page div a{color:#09F; margin:0 0 0 15px}

.SP .No_info td{padding:10em 0; color:#333; text-align:center}
.SP .No_info td a{color:#09F}

.foe .log th.te{text-align:center; background-color:#f0f0f0}
.foe .log th{text-align:right;font-weight:300; background-color:#FFF;padding:0 5px}
.foe .log td{text-align:left;padding:0 5px}
.foe .log td.INP{text-align:center; padding:10px}
.foe .log input{height:18px; line-height:18px; border:1px solid #CCC; vertical-align:middle}
.foe .log td.INP input{height:auto; line-height:normal; padding:5px}

.foe table .NO_TAB_SHOW td{line-height:normal}
.foe table .NO_TAB_SHOW td select{height:auto; line-height:normal}



.foe .cers{margin:10px; width:97%}
.foe .cers th{text-align:center}
.foe .cers td{text-align:center}

