@charset "utf-8";
/* CSS Document */
.Pe{
	 width:980px; 
	 margin:0 auto; 
	 background:#dbdbdb;
	 text-align: center;
	 font-size:0.9em;
	}
.Pe .gray{
	width:90%;
	margin:0 auto;}

.Pe .gray .sp_nav{
	 margin-top:30px;
	 float:right; 
	 list-style-type:none;
	 border-top-left-radius:4px;
	 border-top-right-radius:4px;
	}

.Pe .gray .sp_nav li{
	line-height:26px;
	float:left;
	}
.Pe .gray .sp_nav li a{
	border-left:1px solid #bbbbbb;
	border-top:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	display:inline-block;
	height:26px;
	font-size:0.9em;
	background:#fefefe;
	padding:0 4px;
	}
.Pe .gray .sp_nav #left a{
	border-top-left-radius:4px;
	}
.Pe .gray .sp_nav #right a{
	border-top-right-radius:4px;
	border-right:1px solid #bbbbbb;
	}	
table{
	background:#fff;
	border-top-left-radius: 4px;
	border-top-right-radius:4px;
	border:1px solid #bbbbbb;
	font-size:0.9em;
	line-height: 25px;

	}

table tbody{

	clear:both;
	width:100%;}
table .x th{
	 border-bottom:1px solid #cacaca;
	}
	
.Page{padding:10px 0;}
.Page input{background-image:url(../images/add_cars.jpg); border:0 none; cursor:pointer; width:112px; height:30px; display:block; float:left}
.Page ul{float:right; list-style-type:none;}
.Page li{float:left; padding:0 0 0 10px}
.Page li a{display:block; display:block; padding:3px 4px; background-color:#FFF; border:1px solid #AAA; color:#393939}
.Page li a:hover , .Page li a.this{background-color:#e60012; color:#FFF}
.SP .tp th{background:url(../images/sp_t_x.jpg) no-repeat;width:1px;font-size:0}
.clear{clear:both;height:0;overflow:hidden;display:block;background:none;margin:0;padding:0;font-size:0}
.SP tr th a{display:block; background-image:url(../images/sp_t_s.jpg); width:24px; height:23px; margin:0 auto}



@media screen and (max-width: 980px) {
	.Pe{
		width:100%;}
	.Pe .gray{
		width:98%;
		}
}
@media screen and (max-width: 768px) {
	.sp-h{
		display:none;}
	.Pe .gray .sp_nav li a{


	font-size:0.7em;
	padding:0 2px;
	}
	.sh-1{
		display:none;}
}
@media screen and (max-width: 480px) {
	
	.sp-h1{
		display:none;}
	
}

